# Ignorar checkpoints do Jupyter
.ipynb_checkpoints/

# Ignorar arquivos compilados do Python
__pycache__/
*.pyc

# Ignorar arquivos de modelos salvos
*.pkl
*.joblib
*.h5

# Ignorar arquivos temporários ou de backup
*.swp
*.tmp
*.bak

# Ignorar variáveis de ambiente e configurações locais
.env
*.env

# Ignorar arquivos de apresentações temporários
*.pptx~
\n# Commit 11\n# Commit 21\n# Commit 31\n# Commit 41\n# Commit 51\n# Commit 61\n# Commit 71\n# Commit 81\n# Commit 91\n# Commit 101\n# Commit 111\n# Commit 121\n# Commit 131